// Fonts
$open-sans: 'Open Sans', sans-serif;
$bold: 700;
$semi: 600;

// Colors
$color-orange: #FF7900;
$color-blue-dark: #032E40;
$color-blue: #12749E;
$color-black: #27282A;
$color-gray-light: #A5A7A6;
$color-white: #FFFFFF;

// Other
$t: .3s;