body {
    font-family: $open-sans;
    color: $color-blue-dark;
}

.sub-menus {
    padding-top: 16px;
    width: 100%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: $t;

    &.active {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
    }

    .menu--main {
        display: none;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin-bottom: 10px;

        @include respond-to(tablet-and-below) {
            display: flex;
        }

        li a {
            position: relative;
            padding: 16px 16px;
            font-size: 20px;
            color: $color-blue-dark;
            line-height: 20px;
            text-decoration: none;
            white-space: nowrap;
            transition: $t;

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: $color-orange;
                transform-origin: 50% 50%;
                transform: scaleX(0);
                transition: $t;
            }
            &:before {
                height: 1px;
                background-color: $color-blue-dark;
                transform: scaleX(.8);
            }
            &:hover {
                color: $color-blue;
                text-decoration: none;

                &:after {
                    transform: scaleX(1);
                }
            } 
        }
        li.active {
            a{
                color: $color-blue;

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    
    .catagories {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 32px 48px;

        @include respond-to(tablet-and-below) {
            flex-wrap: wrap;
        }

        .category {
            width: calc(100% / 2);
            margin-bottom: 25px;

            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
        }
    }
    .information-for {
        display: none;
        margin: 0 auto;
        padding: 20px 0;
        width: 90%;
        border-top: 1px solid $color-gray-light;

        @include respond-to(tablet-and-below) {
            display: block;
        }

        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        li a {
            padding: 0 16px;
            border-right: 1px solid $color-gray-light;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-blue;
            font-size: 14px;
            font-weight: $semi;
            white-space: nowrap;
        }
        li:last-child a {
            border-right: none;
        }
        li:first-child a {
            padding-left: 0;
        }
    }
    .schedule-visit {
        padding: 16px 0;
        text-align: center;
        background-color: $color-orange;

        @include respond-to(tablet-and-below) {
            background-color: $color-blue-dark;
        }

        a.full {
            @include respond-to(tablet-and-below) {
                display: none;
            }
        }

        .menu--secondary {
            display: none;

            @include respond-to(tablet-and-below) {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            ul {
                display: flex;
                align-items: center;
            }
            li {
                margin-bottom: 0;
                margin-right: 34px;
            }
            a {
                padding: 4px 10px;
                font-size: 20px;
                color: white;
                text-transform: uppercase;
            }
            a:not(.apply) {
                border: 2px solid $color-orange;
                background: $color-blue-dark;
                box-shadow: none;
                text-shadow: none;
                transition: $t;

                &:hover {
                    background: $color-orange;
                    text-decoration: none;
                }
            }
            a.apply {
                border: 2px solid $color-blue;
            }
        }
    }
    .button {
        font-size: 24px;
        text-transform: none;
    }
    p {
        margin-bottom: 10px;
        font-weight: $bold;
        line-height: 24px;
        color: $color-black;
    }
    li {
        margin-bottom: 5px;
    }
    li a {
        font-size: 14px;
        line-height: 24px;
        color: $color-blue;
        text-decoration: none;
        transition: $t;

        &:hover {
            color: $color-blue-dark;
            text-decoration: underline;
            background-size: 1px 1em;
        }
    }
}

.button {
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: $color-white;
    font-weight: $bold;
    background-color: $color-blue;
    cursor: pointer;
    transition: $t;

    &:hover {
        background-color: $color-blue-dark;
    }
}